Builder/bin/Debug/net6.0/Builder.dll
Builder/bin/Debug/net6.0/Builder.pdb
Builder/obj/Debug/net6.0/
Factory/bin/Debug/net6.0/Factory.dll
Factory/bin/Debug/net6.0/
Factory/obj/
Factory/obj/Debug/net6.0/
Prototype/obj/
Prototype/bin/Debug/net6.0/
Singleton/obj/
Singleton/bin/Debug/net6.0/
Adapter/obj/
Adapter/bin/Debug/net6.0/
Bridge/obj/
Bridge/bin/Debug/net6.0/
Composite/obj/
Composite/bin/Debug/net6.0/
Decorator/obj/
Decorator/bin/Debug/net6.0/
Flyweight/obj/
Flyweight/bin/Debug/net6.0/
Proxy/obj/
Proxy/bin/Debug/net6.0/
Command/obj/
Command/bin/Debug/net6.0/
Iterator/obj/
Iterator/bin/Debug/net6.0/
Mediator/obj/
Mediator/bin/Debug/net6.0/
Observer/obj/
Observer/bin/Debug/net6.0/

