Builder/bin/Debug/net6.0/Builder.dll
Builder/bin/Debug/net6.0/Builder.pdb
Builder/obj/Debug/net6.0/
Factory/bin/Debug/net6.0/Factory.dll
Factory/bin/Debug/net6.0/
Factory/obj/
Factory/obj/Debug/net6.0/
